<div>
  <fusioncharts id="<%= div_id %>" 
                chartType="<%= chart_type %>" 
                swfPath="/FusionCharts/" 
                dataUrl="<%= CGI::escape(url) %>"
                width="<%= width %>" 
                height="<%= height %>" 
                registerWithJS="1" 
                debugMode="0">
  </fusioncharts>
</div>
