<%
  chart_type = chart_type_config['chart_type']
  chart_type = chart_style.to_s if chart_type.blank?
  
  chart_type = args[:vertical] ? chart_type_config['vertical'] || chart_type : chart_type
  chart_type = args[:dimensions] == 3 ? chart_type_config['3d'] || chart_type : chart_type
%>
<div>
  <fusioncharts id="<%= div_id %>" 
                chartType="<%= chart_type %>" 
                swfPath="/FusionCharts/" 
                dataUrl="<%= CGI::escape(url) %>"
                width="<%= width %>" 
                height="<%= height %>" 
                registerWithJS="1" 
                debugMode="0">
  </fusioncharts>
</div>
